<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <title>Forum</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <!-- BODY -->
  <body>
    <!-- Navbar -->
    <div id="navbar">
      <%= link_to "Index", :controller => 'main' %>
      <%= link_to "Inscription", '/signup' %>
    </div>
    <!-- Global container -->
    <div id="global">
      <!-- Page header -->
      <%= link_to image_tag("banner.png", :id => "header"), root_path %>
      <!-- Page content -->
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
